:root {
    --hamburger-color: black;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    transition: all 0.3s ease;
    border-bottom: 5px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a {
    color: #f1563f;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    padding: 0.75rem 1rem;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
    border-radius: 8px;
}

/* Hover effect */
.nav-links a:hover {
    color: white;
    background-color: black;
    transform: scale(1.1);
}

/* Active Link */
.nav-links a.active {
    color: red;
    background-color: #393e41;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
    color: black;
    transition: transform 0.3s ease;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    background-color: black;
}

/* Hamburger Hover */
.hamburger:hover {
    transform: scale(1.1);
}

.hamburger span:not(:last-child) {
    margin-bottom: 5px;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger:hover span {
    background-color: #4ade80;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #393e41;
        padding: 1rem;
        display: none;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    }

    .nav-links.active {
        display: flex;
        transform: translateY(0);
    }

    .nav-links a {
        padding: 0.75rem 0;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
    }

    .nav-links a:hover {
        color:
        #393e41 ;
        background-color: white;
    }

    .nav-links a:last-child {
        border-bottom: none;
    }
}
